In [44]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import *

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [83]:
train_data = pd.read_csv('train_data.csv')
train_data_emb = pd.read_csv('train_data_embedded.csv')
test_data_emb = pd.read_csv('test_data_embedded.csv')

In [84]:
train_data_emb['salary'] = train_data['salary']

In [85]:
train_data_emb

,1,2,3,4,5,6,7,8,9,10,...,504,505,506,507,508,509,510,511,512,salary
0,-0.0201,-0.0603,-0.0271,-0.0223,0.0445,-0.0728,-0.0276,0.0146,-0.0232,-0.0374,...,0.0626,-0.0103,-0.0444,0.0428,-0.0740,-0.0154,0.0042,0.0230,-0.0045,6to10
1,0.0106,0.0194,-0.0046,0.0364,0.0358,-0.0660,-0.0118,0.0352,-0.0205,-0.0041,...,0.0713,-0.0025,-0.0161,-0.0290,-0.0717,-0.0016,-0.0280,0.0305,-0.0115,10to15
2,0.0245,-0.0160,0.0024,-0.0011,-0.0193,-0.0586,-0.0076,0.0284,-0.0278,-0.0622,...,0.0631,0.0388,-0.0331,0.0604,-0.0654,0.0133,-0.0520,0.0304,-0.0044,15to25
3,-0.0182,-0.0511,-0.0338,-0.0129,-0.0219,-0.0590,0.0288,-0.0029,-0.0039,0.0487,...,0.0548,0.0413,-0.0082,-0.0204,-0.0594,0.0119,0.0174,-0.0248,0.0456,10to15
4,0.0489,0.0521,-0.0073,-0.0074,-0.0554,-0.0415,0.0585,0.0580,0.0326,0.0441,...,0.0613,0.0614,-0.0323,0.0439,-0.0613,0.0284,-0.0588,-0.0131,-0.0512,3to6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19797,0.0061,-0.0080,-0.0010,0.0502,0.0490,-0.0586,-0.0352,-0.0430,-0.0300,0.0279,...,0.0656,0.0003,-0.0088,0.0552,-0.0664,0.0182,-0.0239,-0.0245,0.0366,15to25
19798,-0.0015,-0.0353,-0.0264,0.0251,0.0486,-0.0568,-0.0163,-0.0096,-0.0060,-0.0442,...,0.0645,0.0348,0.0015,0.0153,-0.0618,0.0434,-0.0154,-0.0555,0.0271,0to3
19799,0.0141,0.0258,-0.0151,-0.0070,-0.0483,-0.0437,0.0567,0.0500,-0.0250,-0.0458,...,0.0581,0.0564,0.0002,0.0122,-0.0587,0.0444,-0.0495,-0.0550,0.0580,15to25
19800,0.0186,-0.0012,0.0155,0.0314,-0.0585,-0.0298,0.0677,0.0590,-0.0273,-0.0019,...,0.0689,0.0623,0.0008,0.0611,-0.0560,0.0138,-0.0528,-0.0222,-0.0538,10to15
19801,-0.0103,-0.0312,-0.0218,0.0583,0.0335,-0.0549,-0.0135,-0.0502,-0.0541,0.0465,...,0.0164,0.0624,0.0003,0.0217,-0.0621,0.0387,-0.0600,-0.0054,0.0251,10to15

In [86]:
train_data_emb.salary.value_counts()

10to15    4500
15to25    4125
6to10     3533
0to3      3245
3to6      2824
25to50    1575
Name: salary, dtype: int64

In [87]:
le = LabelEncoder()
le.fit(train_data_emb['salary'])
le.classes_

array(['0to3', '10to15', '15to25', '25to50', '3to6', '6to10'],
      dtype=object)

In [49]:
train_data_emb['salary'] = LabelEncoder().fit_transform(train_data_emb['salary'])

In [50]:
train_data_emb

,1,2,3,4,5,6,7,8,9,10,...,504,505,506,507,508,509,510,511,512,salary
0,-0.0201,-0.0603,-0.0271,-0.0223,0.0445,-0.0728,-0.0276,0.0146,-0.0232,-0.0374,...,0.0626,-0.0103,-0.0444,0.0428,-0.0740,-0.0154,0.0042,0.0230,-0.0045,5
1,0.0106,0.0194,-0.0046,0.0364,0.0358,-0.0660,-0.0118,0.0352,-0.0205,-0.0041,...,0.0713,-0.0025,-0.0161,-0.0290,-0.0717,-0.0016,-0.0280,0.0305,-0.0115,1
2,0.0245,-0.0160,0.0024,-0.0011,-0.0193,-0.0586,-0.0076,0.0284,-0.0278,-0.0622,...,0.0631,0.0388,-0.0331,0.0604,-0.0654,0.0133,-0.0520,0.0304,-0.0044,2
3,-0.0182,-0.0511,-0.0338,-0.0129,-0.0219,-0.0590,0.0288,-0.0029,-0.0039,0.0487,...,0.0548,0.0413,-0.0082,-0.0204,-0.0594,0.0119,0.0174,-0.0248,0.0456,1
4,0.0489,0.0521,-0.0073,-0.0074,-0.0554,-0.0415,0.0585,0.0580,0.0326,0.0441,...,0.0613,0.0614,-0.0323,0.0439,-0.0613,0.0284,-0.0588,-0.0131,-0.0512,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19797,0.0061,-0.0080,-0.0010,0.0502,0.0490,-0.0586,-0.0352,-0.0430,-0.0300,0.0279,...,0.0656,0.0003,-0.0088,0.0552,-0.0664,0.0182,-0.0239,-0.0245,0.0366,2
19798,-0.0015,-0.0353,-0.0264,0.0251,0.0486,-0.0568,-0.0163,-0.0096,-0.0060,-0.0442,...,0.0645,0.0348,0.0015,0.0153,-0.0618,0.0434,-0.0154,-0.0555,0.0271,0
19799,0.0141,0.0258,-0.0151,-0.0070,-0.0483,-0.0437,0.0567,0.0500,-0.0250,-0.0458,...,0.0581,0.0564,0.0002,0.0122,-0.0587,0.0444,-0.0495,-0.0550,0.0580,2
19800,0.0186,-0.0012,0.0155,0.0314,-0.0585,-0.0298,0.0677,0.0590,-0.0273,-0.0019,...,0.0689,0.0623,0.0008,0.0611,-0.0560,0.0138,-0.0528,-0.0222,-0.0538,1
19801,-0.0103,-0.0312,-0.0218,0.0583,0.0335,-0.0549,-0.0135,-0.0502,-0.0541,0.0465,...,0.0164,0.0624,0.0003,0.0217,-0.0621,0.0387,-0.0600,-0.0054,0.0251,1

In [51]:
test_data_emb

,1,2,3,4,5,6,7,8,9,10,...,503,504,505,506,507,508,509,510,511,512
0,-0.0390,-0.0505,-0.0414,0.0536,0.0335,-0.0574,0.0004,0.0114,-0.0556,-0.0543,...,-0.0495,0.0415,0.0502,-0.0040,0.0345,-0.0578,0.0190,0.0387,-0.0458,0.0576
1,-0.0065,0.0292,-0.0007,0.0038,-0.0088,-0.0396,0.0450,-0.0275,-0.0071,0.0467,...,0.0175,0.0581,0.0593,-0.0030,0.0634,-0.0636,0.0250,-0.0618,-0.0353,0.0352
2,0.0572,0.0371,0.0108,0.0142,-0.0289,-0.0392,-0.0076,0.0090,-0.0207,-0.0251,...,-0.0233,0.0611,0.0642,-0.0258,-0.0307,-0.0637,0.0161,-0.0286,-0.0207,0.0500
3,-0.0011,-0.0408,-0.0266,0.0306,0.0538,-0.0584,-0.0066,0.0014,0.0107,-0.0364,...,0.0205,0.0650,0.0294,-0.0077,0.0079,-0.0625,0.0435,0.0121,-0.0558,0.0199
4,-0.0147,-0.0604,-0.0171,0.0173,0.0372,-0.0663,-0.0231,-0.0199,-0.0199,-0.0382,...,0.0445,0.0584,0.0205,-0.0398,0.0409,-0.0706,0.0091,-0.0358,-0.0217,0.0112
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6596,-0.0099,-0.0607,0.0142,0.0411,0.0356,-0.0627,0.0264,-0.0193,-0.0398,-0.0105,...,-0.0040,0.0611,0.0378,0.0172,0.0054,-0.0640,0.0137,-0.0298,-0.0059,0.0015
6597,0.0081,-0.0447,0.0052,0.0362,0.0150,-0.0617,0.0451,0.0003,-0.0098,-0.0523,...,0.0245,0.0612,0.0553,0.0043,-0.0201,-0.0628,0.0401,-0.0316,-0.0403,0.0369
6598,0.0374,-0.0479,0.0149,0.0490,0.0134,-0.0640,-0.0288,-0.0432,-0.0210,0.0147,...,0.0166,0.0627,0.0665,0.0000,-0.0314,-0.0640,0.0151,-0.0506,0.0139,0.0359
6599,0.0168,0.0262,-0.0136,0.0580,0.0488,-0.0612,-0.0230,0.0173,-0.0291,0.0663,...,0.0483,0.0668,0.0426,-0.0358,0.0656,-0.0672,-0.0302,-0.0333,0.0251,-0.0633
6600,-0.0138,-0.0608,-0.0056,0.0616,0.0526,-0.0513,-0.0364,-0.0412,-0.0629,0.0331,...,0.0385,0.0538,0.0437,0.0033,0.0449,-0.0680,0.0044,-0.0547,0.0047,-0.0054

In [101]:
from sklearn.svm import *
from sklearn.model_selection import *
from sklearn.metrics import *
from sklearn.linear_model import *

In [53]:
X = train_data_emb.drop(columns=['salary'])
y = train_data_emb.salary

In [54]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=1)

In [55]:
print('X train shape {}'.format(X_train.shape))
print('y train shape {}'.format(y_train.shape))
print('X test shape {}'.format(X_test.shape))
print('y test shape {}'.format(y_test.shape))

X train shape (13861, 512)
y train shape (13861,)
X test shape (5941, 512)
y test shape (5941,)

In [77]:
lsvc = LinearSVC(C=1,max_iter=17,random_state=1).fit(X_train,y_train)
train_pred = lsvc.predict(X_train)
test_pred = lsvc.predict(X_test)
print('Train error {:.4f}'.format(accuracy_score(y_train,train_pred)))
print('Test error {:.4f}'.format(accuracy_score(y_test,test_pred)))
print('Difference {:.4f}'.format((accuracy_score(y_train,train_pred))-accuracy_score(y_test,test_pred)))

Train error 0.4350
Test error 0.3821
Difference 0.0529

In [76]:
# for estimator in (x*1 for x in range(1,100)):
#     model=LinearSVC(max_iter=17,C=estimator,random_state=1).fit(X_train,y_train)
#     r2_train=model.predict(X_train)
#     r2_test=model.predict(X_test)
#     print('Estimator {}, Accuracy train {:.4f}, Accuracy test {:.4f}, Difference {:.4f}'.format(estimator,
#                                                                                                 accuracy_score(y_train,r2_train),
#                                                                                                 accuracy_score(y_test,r2_test),
#                                                                                                 accuracy_score(y_train,r2_train)-accuracy_score(y_test,r2_test)))

In [111]:
svc = SVC(random_state=1,degree=2).fit(X_train,y_train)
train_pred = svc.predict(X_train)
test_pred = svc.predict(X_test)
print('Train error {:.4f}'.format(accuracy_score(y_train,train_pred)))
print('Test error {:.4f}'.format(accuracy_score(y_test,test_pred)))
print('Difference {:.4f}'.format((accuracy_score(y_train,train_pred))-accuracy_score(y_test,test_pred)))

Train error 0.4614
Test error 0.3809
Difference 0.0805

In [103]:
# for estimator in (x*10 for x in range(1,100)):
#     model=LogisticRegression().fit(X_train,y_train)
#     r2_train=model.predict(X_train)
#     r2_test=model.predict(X_test)
#     print('Estimator {}, Accuracy train {:.4f}, Accuracy test {:.4f}, Difference {:.4f}'.format(estimator,
#                                                                                                 accuracy_score(y_train,r2_train),
#                                                                                                 accuracy_score(y_test,r2_test),
#                                                                                                 accuracy_score(y_train,r2_train)-accuracy_score(y_test,r2_test)))

In [105]:
prediction = svc.predict(test_data_emb)

In [106]:
predicted = pd.DataFrame()

In [107]:
predicted['values'] = prediction

In [108]:
predicted['salary'] = le.inverse_transform(predicted['values'])

In [109]:
predicted

      values  salary
0          1  10to15
1          0    0to3
2          1  10to15
3          0    0to3
4          0    0to3
...      ...     ...
6596       1  10to15
6597       5   6to10
6598       1  10to15
6599       2  15to25
6600       1  10to15

[6601 rows x 2 columns]

In [110]:
predicted.drop(columns=['values']).to_csv('prediction.csv',index=False)